asgiref==3.12.1
dj-database-url==3.1.2
django==6.1
dotenv==0.9.9
garmin-fit-sdk==21.214.0
gunicorn==26.2.0
icalendar==7.3.0
markdown==3.10.3
mysqlclient==2.2.8
pillow==12.3.0
pip==26.2.1
python-dateutil==2.9.0.post0
python-dotenv==1.2.3
six==1.17.0
sqlparse==0.6.0
tzdata==2026.3
whitenoise==6.12.0
