{% extends "base.html" %}
{% load alors %}
{% block main %}
<div class="container-lg">
    <div class="row">
        <div class="col">
            <ul class="nav nav-underline pb-4">
                <li class="nav-item">
                    <a class="nav-link" href="?d=&v={{ request.GET.v }}">Today</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="?d={{ next }}&v={{ request.GET.v }}">Next</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="?d={{ previous }}&v={{ request.GET.v}}">Previous</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row border">
        <div class="col-3">
        </div>
        <div class="col p-2">
            <div><b>Planned</b></div>
        </div>
        <div class="col p-2">
            <div><b>Actual</b></div>
        </div>
    </div>
    {% for entry in dates_and_objects %}
        <div class="row border-start border-end {% if not entry.summaries %}border-bottom{% endif %}">
            <div class="col-3 p-2">
                <div>{% if entry.date|date:"Y-m-d" == today %}👉 <b>{{ entry.date|date:"D, M j" }}</b>{% else %}🗓 {{ entry.date|date:"D, M j" }}{% endif %} <br>
                    {% for label in entry.labels %}
                        <span class="badge text-bg-{{ label.colour }}">{{ label.title }}</span>
                    {% endfor %}
                </div>
            </div>
            <div class="col p-2">
                <div>
                    {% for workout in entry.planned %}
                        {% include "workout_card.html" %}
                    {% empty %}
                        <a class="badge-add badge text-bg-light link-underline link-underline-opacity-0" href="{% url 'alors:add_planned' %}?date={{ entry.date|date:'Y-m-d' }}">Add</a>
                    {% endfor %}
                </div>
            </div>
            <div class="col p-2">
                <div>
                    {% for workout in entry.actual %}
                        {% include "workout_card.html" %}
                    {% endfor %}
                </div>
            </div>
        </div>
        {% if entry.summaries %}
            <div class="row border-start border-end border-bottom">
                <div class="col-3 p-2">
                    <span class="badge text-bg-secondary" data-bs-toggle="tooltip" data-bs-title="Summary for the week ending {{ entry.date|date:'D, M j' }}">Summary</span>
                </div>
                <div class="col p-2">
                    <div>
                        {% for summary in entry.summaries %}
                            {% with planned=True %}
                                {% include "summary_card.html" %}
                            {% endwith %}
                        {% endfor %}
                    </div>
                </div>
                <div class="col p-2">
                    <div>
                        {% for summary in entry.summaries %}
                            {% with planned=False %}
                                {% include "summary_card.html" %}
                            {% endwith %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor%}
</div>
{% endblock %}