{% extends "base.html" %}
{% load alors %}
{% block main %}
<div class="container-lg">
    <div class="d-none">{% csrf_token %}</div>
    {% include "calendar_nav.html" %}
    {% for entry in dates_and_objects %}
        <div class="row border-start border-end border-top {% if not entry.summaries %}border-bottom{% endif %}">
            <div class="col-3 p-2">
                <div>{% if entry.date|date:"Y-m-d" == today %}<a id="today">👉</a> <b>{{ entry.date|date:"D, M j" }}</b>{% else %}🗓 {{ entry.date|date:"D, M j" }}{% endif %} <br>
                    {% for label in entry.labels %}
                        <span class="badge text-bg-{{ label.colour }}">{{ label.title }}</span>
                    {% endfor %}
                </div>
            </div>
            <div class="col p-2">
                <div class="js-planned-drop" data-date="{{ entry.date|date:'Y-m-d' }}" data-add-url="{% url 'alors:add_planned' %}?date={{ entry.date|date:'Y-m-d' }}">
                    {% for workout in entry.planned %}
                        <div class="js-planned-card" draggable="true" data-planned-id="{{ workout.pk }}" data-move-url="{% url 'alors:move_planned_workout' workout.pk %}">
                            {% include "workout_card.html" %}
                        </div>
                    {% empty %}
                        {% if not entry.past %}<a class="js-add-badge badge-add badge text-bg-light link-underline link-underline-opacity-0" href="{% url 'alors:add_planned' %}?date={{ entry.date|date:'Y-m-d' }}">Add plan</a>{% endif %}
                    {% endfor %}
                    {% for workout in entry.actual %}
                        {% include "workout_card.html" %}
                        {% if entry.actual|length > 1 and not forloop.last %}<div class="mb-2"></div>{% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        {% if entry.summaries %}
            <div class="row border-start border-end border-bottom border-top">
                <div class="col-3 p-2 bg-tertiary">
                    <b data-bs-toggle="tooltip">Weekly Summary</b>
                </div>
                <div class="col p-2 bg-tertiary">
                    <div>
                        <p>Planned</p>
                        {% for summary in entry.summaries %}
                            {% with planned=True %}
                                {% include "summary_card.html" %}
                            {% endwith %}
                        {% endfor %}
                    </div>
                    <div>
                        <p>Actual</p>
                        {% for summary in entry.summaries %}
                            {% with planned=False %}
                                {% include "summary_card.html" %}
                            {% endwith %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor%}
    <div class="mt-4"></div>
    {% include "calendar_nav.html" %}
</div>
{% endblock %}