    <div class="row">
        <div class="col">
            <ul class="nav nav-underline pb-4">
                <li class="nav-item">
                    <a class="nav-link" href="?d=">Today</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="?d={% if next %}{{ next }}{% endif %}">Next</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="?d={% if next %}{{ previous }}{% endif %}">Previous</a>
                </li>
            </ul>
        </div>
    </div>