{% extends "base.html" %}
{% load alors %}
{% block main %}
<div class="container-fluid">
    <div class="d-none">{% csrf_token %}</div>
    {% include "calendar_nav.html" %}
    <table class="table">
        <tr>
            <th>Monday</th>
            <th>Tuesday</th>
            <th>Wednesday</th>
            <th>Thursday</th>
            <th>Friday</th>
            <th>Saturday</th>
            <th>Sunday</th>
            <th>Summary</th>
        </tr>
    {% for week in dates_and_objects %}
        <tr>
            {% for entry in week %}
            <td class="" style="width: 5em">
                <div>{{ entry.date|date:"M j" }}
                    <div class="label-block mb-2">
                        {% for label in entry.labels %}
                            <span class="badge text-bg-{{ label.colour }}">{{ label.title }}</span>
                        {% empty %}
                            &nbsp;
                        {% endfor %}
                    </div>
                </div>
                <div class="js-planned-drop" data-date="{{ entry.date|date:'Y-m-d' }}" data-add-url="{% url 'alors:add_planned' %}?date={{ entry.date|date:'Y-m-d' }}">
                    {% for workout in entry.planned %}
                        <div class="js-planned-card" draggable="true" data-planned-id="{{ workout.pk }}" data-move-url="{% url 'alors:move_planned_workout' workout.pk %}">
                            {% include "planned.html" %}
                        </div>
                    {% endfor %}
                    {% if entry.date|date:"Y-m-d" > today %}<a class="js-add-badge badge-add badge text-bg-light link-underline link-underline-opacity-0" href="{% url 'alors:add_planned' %}?date={{ entry.date|date:'Y-m-d' }}">Add plan</a>{% endif %}
                    {% for workout in entry.actual %}
                        {% include "workout_card.html" %}
                        {% if entry.actual|length > 1 and not forloop.last %}<div class="mb-2"></div>{% endif %}
                    {% endfor %}
                </div>
            </td>
            {% if forloop.last %}
            <td class="border-start">
                <div>
                    <p>Planned</p>
                    {% for summary in entry.summaries %}
                        {% with planned=True %}
                            {% include "summary_card.html" %}
                        {% endwith %}
                    {% endfor %}
                </div>
                <div>
                    <p>Actual</p>
                    {% for summary in entry.summaries %}
                        {% with planned=False %}
                            {% include "summary_card.html" %}
                        {% endwith %}
                    {% endfor %}
                </div>
            </td>
            {% endif %}
            {% endfor %}
        </tr>
    {% endfor%}
    </table>
    <div class="mt-4"></div>
    {% include "calendar_nav.html" %}
</div>
{% endblock %}