{% load alors %}
{% load markdown_extras %}
<div class="card card-event {% if workout.status|status %}border-{{ workout.status|status }}{% endif %}" data-bs-toggle="popover" data-bs-trigger="hover" data-bs-content="{{ workout.notes|markdown|safe }}" data-bs-allowList="p, b, i, u, a, br, span, div, ul, ol, li" data-bs-html="true">
    {% if workout.is_race %}
        <div class="card-header bg-warning">
            <b>🏆 Race</b>
        </div>
    {% endif %}
    <a href="{{ workout.get_absolute_url }}" class="link-underline link-underline-opacity-0 link-card-hack">
        <div class="card-body text-muted">
            <span class="position-absolute top-0 start-50 translate-middle badge rounded-pill bg-{{ workout.status|status }}">
                {{ workout.status|capfirst }}
            </span>
            <div class="mb-2">
                <span class="text-muted">{{ workout.workout_type|emoji }} {{ workout.title|capfirst }} 
                </span><br>
                {% if workout.total_distance %}
                    <b>{{ workout.total_distance }} km</b>
                {% endif %}
            </div>
            {% if workout.comment_count %}
                <div>
                    {% if workout.comment_count %}
                        <div class="badge bg-primary">{{ workout.comment_count }} comment{{ workout.comment_count|pluralize }}</div>
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </a>
</div>
