{% extends "base.html" %}
{% load markdown_extras %}
{% block main %}
<div class="container-lg">
    <span class="badge workout-effort-10">Effort 10</span><br>
    <span class="badge workout-effort-9">Effort 9</span><br>
    <span class="badge workout-effort-8">Effort 8</span><br>
    <span class="badge workout-effort-7">Effort 7</span><br>
    <span class="badge workout-effort-6">Effort 6</span><br>
    <span class="badge workout-effort-5">Effort 5</span><br>
    <span class="badge workout-effort-4">Effort 4</span><br>
    <span class="badge workout-effort-3">Effort 3</span><br>
    <span class="badge workout-effort-2">Effort 2</span><br>
    <span class="badge workout-effort-1">Effort 1</span><br>
    <span class="badge workout-feeling-5">Feeling 5</span><br>
    <span class="badge workout-feeling-4">Feeling 4</span><br>
    <span class="badge workout-feeling-3">Feeling 3</span><br>
    <span class="badge workout-feeling-2">Feeling 2</span><br>
    <span class="badge workout-feeling-1">Feeling 1</span><br>
</div>
{% endblock %}