{% load alors %}
<div class="card-compact mb-2">
{% if planned %}
    {% for key, data in summary.summary.planned_workout.items %}
        {% if data.total_distance %}
            {{ key|emoji }} {{ key|capfirst }} &bull; <b>{{ data.total_distance }}</b> km<br>
        {% else %}
            {{ key|emoji }} {{ key|capfirst }} x<b>{{ data.workouts }}</b> <br>
        {% endif %}
    {% empty %}
        No plan yet.
    {% endfor %}
{% else %}
    {% for key, data in summary.summary.workout.items %}
        {% if data.total_distance %}
            {{ key|emoji }} {{ key|capfirst }} &bull; <b>{{ data.total_distance }} </b> km<br>
        {% else %}
            {{ key|emoji }} {{ key|capfirst }} x<b>{{ data.workouts }}</b> <br>
        {% endif %}
    {% endfor %}
    <br>
    {% for item in summary.summary.effort_feeling %}
        {% if item.effort %}
            <span class="badge badge-workout workout-effort-{{ item.effort }}">{{ item.effort }}</span>
        {% endif %} 
    {% endfor %}<br>
    {% for item in summary.summary.effort_feeling %}
        {% if item.feeling %}
            <span class="badge badge-workout workout-feeling-{{ item.feeling }}">{{ item.feeling }}</span>
        {% endif %} 
    {% endfor %}
{% endif %}
</div>